<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psh.mapper.MainMapper">



    <select id="getList" parameterType="map" resultType="WordVO">
        SELECT word_id, word, meaning, sentence, reg_time, update_time, member_seq
        FROM words
        where member_seq=#{memberSeq}
        <if test="cri.type != null and cri.type != ''">
            AND word_type = #{cri.type}
        </if>
        <if test="cri.keyword != null and cri.keyword != ''">
            AND (word LIKE CONCAT('%', #{cri.keyword}, '%') OR meaning LIKE CONCAT('%', #{cri.keyword}, '%'))
        </if>
        order by word_id desc
        limit #{cri.offset} , #{cri.amount}
    </select>
    
    <insert id="insert" parameterType="WordVO">
        insert into words(word,word_type, meaning,meaning_type, member_seq) VALUES(#{word},#{wordType},#{meaning},#{meaningType},#{memberSeq})
    </insert>

    <update id="update">
        UPDATE words
        SET sentence =#{sentence}
        WHERE word_id =#{wordId}
    </update>

    <delete id="delete">
        DELETE FROM words WHERE word_id=#{wordId}
    </delete>

    <select id="selectCountAll"  resultType="int">
        select COUNT(*) from words where member_seq=#{memberSeq}
        <if test="cri.type != null and cri.type != ''">
            AND word_type = #{cri.type}
        </if>
        <if test="cri.keyword != null and cri.keyword != ''">
            AND (word LIKE CONCAT('%', #{cri.keyword}, '%') OR meaning LIKE CONCAT('%', #{cri.keyword}, '%'))
        </if>
    </select>

    <select id="getListPaging" resultType="WordVO">
        SELECT word_id, word, meaning, sentence, reg_time, update_time, member_seq
        FROM words
        where member_seq=#{memberSeq}
        <if test="cri.type != null and cri.type != ''">
            AND word_type = #{cri.type}
        </if>
        <if test="cri.keyword != null and cri.keyword != ''">
            AND (word LIKE CONCAT('%', #{cri.keyword}, '%') OR meaning LIKE CONCAT('%', #{cri.keyword}, '%'))
        </if>
        order by word_id desc
        limit #{cri.offset} , #{cri.amount}
    </select>


</mapper>